<br/>
    {{ data.question }}
  <br/>
<form method="post">
    <label>
        <input type="radio" name='variant' value={{ data.array_of_answers.0 }}>
    </label>{{  data.array_of_answers.0 }}
    <label>
        <input type="radio" name='variant' value={{ data.array_of_answers.1 }}>
    </label>{{ data.array_of_answers.1 }}
    <label>
        <input type="radio" name='variant' value={{ data.array_of_answers.2 }}>
    </label>{{ data.array_of_answers.2 }}
<br/>

    {{ form.as_p }}
    {% csrf_token %}

    <input type="submit" value="Submit">

  <br/>
<br/>
    </form>


{% if variant != data.correct_answer%}
You are wrong! Correct answer is {{ answer}}
{% endif %}
<br/>
Your current score is {{ points }}
<br/>
<a href="{% url 'game' pk %}"><button >Next question</button></a>
<br/>
<br/>
<a href="{% url 'home' %}"><button >Return to previous page</button></a>
<br/>
<br/>
<a href="{% url 'result' %}"><button >Finish game</button></a>

<script>
window.onbeforeunload = function(event) { event.returnValue = "Write something clever here.."; };
</script>