{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/greeting.css' %}"/>
<button onclick="typeWriter()">Start</button>
<p id="greeting"></p>



<script>
let i = 0;
let txt = `Hello {{ current_user }} it's time to play the game!`;
let speed = 50;

function typeWriter() {
  if (i < txt.length) {
    document.getElementById("greeting").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}
</script>

<a href="game" ><button >Enter the game</button></a>