{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



{% block content %}
{% if user.is_authenticated %}
    <br/>
    <p class="start"><button onclick="typeWriter()" class="btn btn-primary">Start</button></p>
    <br/>
    <br/>
<p id="greeting"></p>


<script>
let i = 0;
let txt = `Hello {{ user.username }} it's time to play the game!`;
let speed = 50;

function typeWriter() {
  if (i < txt.length) {
    document.getElementById("greeting").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}
    {# just small hint for user from the beginning of the game :=) #}
    if (document.documentURI === 'http://127.0.0.1:8000/'){
    alert("Please, select button 'Enter the game'");
        }

</script>

    <p class='enterGame'><a href="game/question/1" ><button class="btn btn-success">Enter the game</button></a></p>
      <br/>
      <br/>
    <p class='logOut'><a href="{% url 'logout' %}"><button class="btn btn-danger">Log Out</button></a></p>
{% else %}
  <p class="logIn">You are not logged in</p>
    <p class="logIn"><a href="{% url 'login' %}"><button class="btn btn-info">Log In</button></a></p>
{% endif %}
{% endblock %}


{# чуть грязно, не успеваю подправить надо вынести в отдельный файл но почему-то не видит :=( #}
<style>
    .enterGame, .logOut, .start{
  text-align: center;
}

p {
text-align: center;
}

</style>